table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}
th,
td {
  padding: 0;
  border: 1px solid black;
  border-top: none;
}

.tableOuter {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 400px;
  overflow-y: scroll;
}
.watchBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  color: black;
  border: 1px solid #ffc107;
  background-color: #ffc107;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
}
.newEvent {
  position: absolute;
  top: 0;
  left: 6rem;
  width: 6rem;
  height: 3rem;
  color: black;
  background-color: cornflowerblue;
  font-size: 1rem;
  border: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s ease-in-out infinite alternate;
}
.red {
  color: red;
}
.black {
  color: black;
}
