table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}
th,
td {
  padding: 0;
  border: 1px solid black;
}

.stopBtn {
  position: absolute;
  top: 0;
  width: 6rem;
  height: 3rem;
  color: black;
  background-color: orangered;
  font-size: 1rem;
  border: none;
}
.newEvent {
  position: absolute;
  top: 0;
  left: 6rem;
  width: 6rem;
  height: 3rem;
  color: black;
  background-color: cornflowerblue;
  font-size: 1rem;
  border: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s ease-in-out infinite alternate;
}
.red {
  color: red;
}
.black {
  color: black;
}
